doctype 5
html(lang="en")
  head
    title gViz
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/lib/raphael.js')
    script(src='/js/lib/prettyDate.js')
    script(src='/js/script.js')
  body
    #container
      != body
