ol
  each data, hash in commits
    li
      h3= hash
      dl
        each val, key in data
          dd= key
          dt= val
div#callout-container
  h2.title
  p.date
script
  window.onload = function (){
    var gitData = !{JSON.stringify(commits)};
    gogoGlobalFunction(gitData);
  };
